<!DOCTYPE HTML>
<html ng-app="upii">
	<head>
		<title>Portal de administración de becas Upiita</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link href="assets/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
        <link href="images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">

		<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/skel.min.js"></script>
		<script src="assets/js/skel-viewport.min.js"></script>
		<script src="assets/js/util.js"></script>
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<script src="assets/js/main.js"></script>
		<script src="assets/js/angular.min.js"></script>
		<script src="assets/js/angular-cookies.min.js"></script>
		<script src="assets/js/upiifx.js"></script>
		<script src="assets/js/angular-animate.js"></script>
		<script src="assets/js/ui-bootstrap-tpls-1.1.2.js"></script>
		<script type="text/ng-template" id="popoverTemplate.html">
			<div class="form-group">
				<input type="hidden" ng-model="a.id0" class="form-control">
				<pre>Boleta:<input type="text" ng-model="a._id" class="form-control"></pre>
				<pre>Nombre:<input type="text" ng-model="a.nom" class="form-control"></pre>
				<pre>Apellido Paterno:<input type="text" ng-model="a.app" class="form-control"></pre>
				<pre>Apellido Materno:<input type="text" ng-model="a.apm" class="form-control"></pre>
				<a href="" ng-click="upd(a)"><img id="{{'rsave'+a._id}}" src="images/save.png" style="float:right;margin:5px 5px 5px 5px;height:22px;width:22px;" data-toggle="tooltip" title="Guardar"/></a>
				<img src="images/loading_spinner.gif" id="{{'rwait'+a._id}}" style="height:22px;width:22px;display:none;" data-toggle="tooltip" title="Guardar"/>
			</div>
		</script>
	</head>
	<body>
		<div id="page-wrapper" ng-controller="ACTRL as ctrl">
			<div id="header-wrapper">
				<div class="container">
					<div class="row">
						<div class="12u">
							<header id="header">
								<div id="logo-array">
									<ul>
										<li><img id="ipnlogo" src="images/ipnwhitelogo.png"/></li>
										<li><h5 style="float:right;margin:35px 10px 0px 0px;font-size:1.1em;text-decoration:underline;color:#FFFFFF">Instituto Politécnico Nacional</h5></li>
										<li><h5 style="float:right;margin:60px -150px 0px 0px;font-size:.8em;text-decoration:underline;color:#FFFFFF">"La técnica al servicio de la patria"</h5></li>
										<li><img id="upiitalogo" src="images/logo.png"/></li>
										<li><img id="seplogo" src="images/seplogo.png"/></li>
									</ul>
								</div>
							</header>
							<header id="header2">
								<nav id="nav">
									<a href="index.html">Inicio</a>
									<a href="alumnos.html" class="current-page-item">Alumnos</a>
									<a href="estadisticas.html">Estadísticas</a>
									<a href="becas.html">Becas</a>
									<a href="lineatiempo.html">Línea del tiempo</a>
								</nav>
							</header>
							<pre style="padding:0px 0px 10px 10px" ng-show="showSessionInfo">Sesión iniciada: ({{sssn.usr}})      <a href="" ng-click="endSession()">~</a></pre>
						</div>
					</div>
				</div>
			</div>
			<div id="main">
				<div class="container">
					<div class="row main-row">
						<div class="8u 12u(mobile)">

							<section class="left-content">
								<div ng-show="currSemYr">
									<h2>Semestre {{currSemYr}}</h2>
									<select aria-label="ngSelected demo" ng-change="sel1_changed()" ng-model="sel1.selectedValue">
										<option id="opt1" ng-selected="sel1.selectedValue==0" value="0"><h2>Alumnos inscritos al semestre</h2></option>
										<option id="opt2" ng-selected="sel1.selectedValue==1" value="1"><h2>Alumnos de nuevo ingreso del semestre</h2></option>
									</select>
									<div class="actionBar" ng-show="canAdd">
										<a href="" ng-click="newA()"><img style="width:25px;height:25px;margin-right:5px;" src="images/add_user.png"/></a>
										<a href="" ng-click="showSearchForm=!showSearchForm"><img style="width:25px;height:25px;margin-right:5px;" src="images/search.png"/></a>
										<a href="" ng-click="showCsvForm=!showCsvForm"><img style="width:25px;height:25px;margin-right:5px;" src="images/csv.png"/></a>
									</div>
								</div>
                                <ul class="small-image-list">
                                    <li ng-show="showAddForm">
                                        <form class="animate-show">
											<pre>Alumno: </pre>
                                            <input type="text" ng-model="a.id" placeholder="Boleta"/> <br/>
                                            <input type="text" ng-model="a.nom" required placeholder="Nombre(s)" capitalize-first/> * <br/>
											<input type="text" ng-model="a.app" required placeholder="Apellido Paterno" capitalize-first/> * <br/>
											<input type="text" ng-model="a.apm" required placeholder="Apellido Materno" capitalize-first/> * <br/>
											<pre>Carrera: </pre>
											<select ng-model="mnuCarr" ng-options="a.nom for a in data1.data" /> * <br/>
											<input type="hidden"/>
											<pre>Beca: </pre>
											<select ng-model="mnuBecas" ng-options="a.nom for a in data2.data" /> * <br/>
											<input type="hidden"/>
											<pre>     </pre>
                                            <input type="submit" ng-click="put(a)" value="OK" />
											<div class="wait-div"><img class="wait3" src="images/loading_spinner.gif"/></div>
											<div class="ok-div"><img style="width:30px;height:30px;" class="ok-gif" src="images/check.gif"/></div>
                                        </form>
                                    </li>
									<li ng-show="showSearchForm">
                                        <form class="animate-show">
											<pre>Buscar: </pre>
                                            <input type="text" ng-model="f" placeholder="Término de búsqueda (boleta, nombre o carrera)" size="50"/>
                                            <input type="submit" ng-click="seek(currYr,currSem,f)" value="OK" />
											<div class="wait-div"><img class="wait3" src="images/loading_spinner.gif"/></div>
											<div class="ok-div"><img style="width:20px;height:20px;" class="ok-gif" id="submitok" src="images/check.gif"/></div>
                                        </form>
                                    </li>
									<li ng-show="showCsvForm">
                                        <form class="animate-show form">
											<pre>Cargar información (csv): </pre>
											<label for="fileUpload" class="custom-file-upload">
												Seleccionar archivo ({{f.name}})
											</label>
                                            <input id="fileUpload" type="file" name="fileUpload" />
                                            <input type="submit" ng-click="submitCsv()" value="OK" />
											<div class="wait-div"><img class="wait3" src="images/loading_spinner.gif"/></div>
											<div class="ok-div"><img style="width:30px;height:30px;" class="ok-gif" id="submitok" src="images/check.gif"/></div>
											<pre class="srvrMsg">{{srvrMsg}}</pre>
                                        </form>
                                    </li>
									<div class="wait-div"><img style="display:none;width:30px;height:30px;" class="wait-gif" id="wait1" src="images/loading_spinner.gif"/></div>
									<ul class="small-image-list">
										<li ng-repeat="b in data31.data">
											<table class="small-image-list">
												<tr>
													<td><h4>{{b.b.nom}}</h4></td><td><h5>({{b.b.count}})</h5></td>
												</tr>
												<tr ng-repeat="s in b.b.data">
													<td>
														<a href="" ng-if="s.scount>=10&&s.out==0"><img style="width:15px;height:15px;" confirmed-click="markOut(s,1)" ng-confirm-click="Marcar como egresado a '{{s.nom}}'? \n NOTA: No se puede deshacer esta acción" ng-src="images/{{s.out==1?'green':'red'}}led.png"/></a>
														<img style="width:15px;height:15px;" ng-if="s.scount<10||s.out==1" ng-src="images/{{s.out==1?'green':'red'}}led.png"/>
														<a href=""><img class="delete-gif" style="width:15px;height:15px;" confirmed-click="deleteA(s)" ng-confirm-click="Elminar a '{{s.nombre}}' ?" src="images/delete.png"/></a>
														<a href="" ng-click="scope(s)" uib-popover-template="dynamicPopover.templateUrl"><img class="edit-gif" style="margin-left:5px;width:15px;height:15px;" src="images/edit.png"/></a>
													</td>
													<td style="display:inline;text-align:right;"><h5 style="margin-left:1em">{{'['+s._id+']'}}</h5></td>
													<td style="text-align:right;"><strong style="margin-left:1em">{{s.scount}} sem</strong></td>
													<td><strong style="margin-left:1em">{{s.yr+'-'+s.sem}}</strong></td>
													<td><h4 style="margin-left:1em">{{'   ' + s.app + ' ' + s.apm + ' ' + s.nom}}</h4></td>
													<td><strong style="margin-left:1em;font-size:.75em;" ng-bind="str_replace(s.cnom,'Ingeniería ','')"></strong></td>
												</tr>
											</table>
										</li>
									</ul>
                                </ul>
							</section>

						</div>
						<div class="4u 12u(mobile)">

							<section>
								<h2>Semestres</h2>
								<ul class="small-image-list">
									<li ng-repeat="s in data3.data|limitTo:semToShow">
                                        <a href=""><h3 style="display:inline" ng-click="seek(s.year,s.sem)">{{s.year}} - {{s.sem}} </h3></a><h5 style="display:inline">{{s.count}}</h5>
									</li>
									<li id="svwxp"><a href="" style="text-decoration:none;"><h5 style="display:inline;" ng-click="expandSemList()">(Ver más)</h5></a></li>
								</ul>
							</section>

						</div>
					</div>
				</div>
			</div>
            <ng-include src="'common_footer.html'"/>
        </div>

	</body>
</html>