<!DOCTYPE HTML>
<html ng-app="upii">
	<head>
		<title>Alumnos - Becas Upiita</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
        <link href="images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">

		<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/skel.min.js"></script>
		<script src="assets/js/skel-viewport.min.js"></script>
		<script src="assets/js/util.js"></script>
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<script src="assets/js/main.js"></script>
		<script src="assets/js/angular.min.js"></script>
		<script src="assets/js/upiifx.js"></script>
	</head>
	<body>
		<div id="page-wrapper">
			<div id="header-wrapper">
				<div class="container">
					<div class="row">
                        <div class="12u">
                            <header id="header">
                                <div id="logo-array">
									<ul>
										<li><img id="upiitalogo" src="images/logo.png"/></li>
										<li><h1><a href="#" id="logo"></a></h1></li>
									</ul>
								</div>
                                <nav id="nav">
                                    <a href="index.html">Inicio</a>
                                    <a href="alumnos.html" class="current-page-item">Alumnos</a>
                                    <a href="estadisticas.html">Estadísticas</a>
                                    <a href="becas.html">Becas</a>
                                    <a href="#">Línea del tiempo</a>
                                </nav>
                            </header>

						</div>
					</div>
				</div>
			</div>
			<div id="main" ng-controller="ACTRL as ctrl">
				<div class="container">
					<div class="row main-row">
						<div class="8u 12u(mobile)">

							<section class="left-content">
								<h2>Alumnos de nuevo ingreso por semestre</h2><h3 style="display:inline">( {{currSemYr}} )</h3>
								
								<div class="actionBar" ng-show="canAdd">
									<hr/>
									<a href="" ng-click="showAddForm=!showAddForm"><img style="width:25px;height:25px;margin:5px;" src="images/add_user.png"/></a>
                                    <a href="" ng-click="showSearchForm=!showSearchForm"><img style="width:25px;height:25px;margin:5px;" src="images/search.png"/></a>
									<a href="" ng-click="ctrl.csvLoad()"><img style="width:25px;height:25px;margin:5px;" src="images/csv.png"/></a>
									<pre><hr/></pre>
								</div>
                                <ul class="small-image-list">
                                    <li ng-show="showAddForm">
                                        <form class="animate-show">
											<pre>Alumno: </pre>
                                            <input type="text" ng-model="a.id" placeholder="Boleta"/> <br/><br/>
                                            <input type="text" ng-model="a.nom" required placeholder="Nombre(s)" capitalize-first/> * <br/><br/>
											<input type="text" ng-model="a.ap_p" required placeholder="Apellido Paterno" capitalize-first/> * <br/><br/>
											<input type="text" ng-model="a.ap_m" required placeholder="Apellido Materno" capitalize-first/> * <br/><br/>
											<pre>Carrera: </pre>
											<select ng-model="mnuCarr" ng-options="a.nom for a in data1.data" /> * <br/><br/>
											<input type="hidden"/>
											<pre>Beca: </pre>
											<select ng-model="mnuBecas" ng-options="a.nom for a in data2.data" /> * <br/><br/>
											<input type="hidden"/>
											<pre>     </pre>
                                            <input type="submit" ng-click="updateA(a)" value="OK" />
											<div class="wait-div"><img class="wait3" src="images/loading_spinner.gif"/></div>
											<div class="ok-div"><img style="width:30px;height:30px;" class="ok-gif" src="images/check.gif"/></div>
                                        </form>
                                    </li>
									<li ng-show="showSearchForm">
                                        <form class="animate-show">
											<pre>Buscar: </pre>
                                            <input type="text" ng-model="a.id" placeholder="Término de búsqueda (boleta, nombre o carrera)" size="50"/> <br/><br/>
                                            <input type="submit" ng-click="searchA(a)" value="OK" />
											<div class="wait-div"><img class="wait3" src="images/loading_spinner.gif"/></div>
											<div class="ok-div"><img style="width:20px;height:20px;" class="ok-gif" id="submitok" src="images/check.gif"/></div>
                                        </form>
                                    </li>
									<div class="wait-div"><img style="display:none;width:30px;height:30px;" class="wait-gif" id="wait1" src="images/loading_spinner.gif"/></div>
									<ul class="small-image-list">
										<li ng-repeat="b in data31.data">
											<table class="small-image-list">
												<tr>
													<td><h4>{{b.b.nom}}</h4></td><td><h5>({{b.b.count}})</h5></td>
												</tr>
												<tr ng-repeat="s in b.b.data">
													<td><a href=""><img class="delete-gif" style="width:15px;height:15px;" confirmed-click="deleteA(s)" ng-confirm-click="Elminar a '{{s.nombre}}' ?" src="images/delete.png"/></a></td>
													<td style="display:inline;text-align:right;"><h5 style="margin-left:1em">{{'['+s.id+']'}}</h5></td><td><h4 style="margin-left:1em">{{'   ' + s.ap_p + ' ' + s.ap_m + ' ' + s.nombre}}</h4></td>
												</tr>
											</table>
										</li>
									</ul>
                                </ul>
							</section>

						</div>
						<div class="4u 12u(mobile)">

							<section>
								<h2>Semestres</h2>
								<ul class="small-image-list">
									<li ng-repeat="s in data3.data">
                                        <a href=""><h3 style="display:inline" ng-click="ctrl.ysOnClick(s.year,s.sem)">{{s.year}} - {{s.sem}} </h3></a><h5 style="display:inline">{{s.count}}</h5>
									</li>
								</ul>
							</section>

						</div>
					</div>
				</div>
			</div>
            <div id="footer-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="8u 12u(mobile)">
                            
                            <section>
                                <h2>Enlaces</h2>
                                <div>
                                    <div class="row">
                                        <div class="3u 12u(mobile)">
                                            <ul class="link-list">
                                                <li><a href="http://upiita.ipn.mx">upiita.ipn.mx</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            
                        </div>
                         <div class="4u 12u(mobile)">
                         
                         <section>
                         <h2>Something of interest</h2>
                         <p>Duis neque nisi, dapibus sed mattis quis, rutrum accumsan sed.
                         Suspendisse eu varius nibh. Suspendisse vitae magna eget odio amet
                         mollis justo facilisis quis. Sed sagittis mauris amet tellus gravida
                         lorem ipsum dolor sit amet consequat blandit.</p>
                         <footer class="controls">
                         <a href="#" class="button">Oh, please continue ....</a>
                         </footer>
                         </section>
                         
                         </div>
                    </div>
                    <div class="row">
                        <div class="12u">
                            
                            <div id="copyright">
								<p> Avenida Instituto Politécnico Nacional No. 2580, Col Barrio la Laguna Ticomán, Gustavo A. Madero, México D.F., C.P. 07340.Tels.: 57296000, ext. 56806</p>
                                &copy; Upiita IPN. México.
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

	</body>
</html>