<!DOCTYPE HTML>
<html ng-app="upii">
	<head>
		<title>Becas</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
        <link href="images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">

		<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/skel.min.js"></script>
		<script src="assets/js/skel-viewport.min.js"></script>
		<script src="assets/js/util.js"></script>
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<script src="assets/js/main.js"></script>
		<script src="assets/js/angular.min.js"></script>
		<script src="assets/js/angular-cookies.min.js"></script>
		<script src="assets/js/upiifx.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.js"></script>
		<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.1.2.js"></script>
	</head>
	<body>
		<div id="page-wrapper">
			<div id="header-wrapper">
				<div class="container">
					<div class="row">
                        <div class="12u">
                            <header id="header">
								<div id="logo-array">
									<ul>
										<li><img id="upiitalogo" src="images/logo.png"/></li>
										<li><h1><a href="#" id="logo"></a></h1></li>
									</ul>
								</div>
                                <nav id="nav">
                                    <a href="index.html">Inicio</a>
                                    <a href="alumnos.html">Alumnos</a>
                                    <a href="estadisticas.html">Estadísticas</a>
                                    <a href="becas.html" class="current-page-item">Becas</a>
									<a href="lineatiempo.html">Línea del tiempo</a>
                                </nav>
                            </header>

						</div>
					</div>
				</div>
			</div>
			<div id="main" ng-controller="BCTRL as ctrl">
				<div class="container">
					<div class="row main-row">
						<div class="8u 12u(mobile)">
							<section class="left-content" id="formdata">
								<h2 ng-src="{{title}}">{{title}}</h2>
								<div class="actionBar" ng-show="visible">
									<a href="" ng-click="bshowform=!bshowform"><img style="width:15px;height:15px;margin:5px;" src="images/edit.jpg"/></a>
									<a href="" ng-click="delete(data3)"><img style="width:15px;height:15px;margin:5px;" src="images/delete.png"/></a>
								</div>
								<hr/>
								<form>
									<div id="nomdiv"><h4><pre>Nombre:</pre></h4><input type="text" ng-show="bshowform" ng-model="a.nom" placeholder="{{data3.nom}}"/><h5 ng-show="!bshowform">{{data3.nom}}</h5><br/></div>
									<div id="altnomdiv"><h5 ng-show="!bshowform">{{data3.altNom}}</h5><br/></div>
									<h4 ng-show="visible"><pre>Monto:</pre></h4><input type="text" ng-show="bshowform" ng-model="a.amt" placeholder="{{data3.amt}}"/><h5 ng-show="!bshowform && visible">{{data3.amt}}</h5><br/>
									<h4><pre>Total de alumnos:</pre></h4><h5>{{data3.count}}</h5><br/>
									<pre>     </pre>
									<input type="submit" ng-show="bshowform" ng-click="updateA(a)" value="OK" />
									<div class="wait-div"><img class="wait-gif" id="wait3" src="images/loading_spinner.gif"/></div>
									<div class="ok-div"><img style="width:30px;height:30px;" class="ok-gif" id="submitok" src="images/check.gif"/></div>
								</form>
								
							</section>
						</div>
						<div class="4u 12u(mobile)">

							<section>
								<h2>Becas</h2>
								<div class="wait-div"><img class="wait-gif" id="wait2" src="images/loading_spinner.gif"/></div>
								<ul class="small-image-list">
									<li ng-repeat="s in data2.data">
										<a href=""><h3 style="display:inline" ng-click="ctrl.bOnClick(s)">{{s.nom+' '}}</h3></a><h5 style="display:inline">({{s.count}})</h5>
									</li>
								</ul>
							</section>

						</div>
					</div>
				</div>
			</div>
            <div id="footer-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="8u 12u(mobile)">
                            
                            <section>
                                <h2>Enlaces</h2>
                                <div>
                                    <div class="row">
                                        <div class="3u 12u(mobile)">
                                            <ul class="link-list">
                                                <li><a href="http://upiita.ipn.mx">upiita.ipn.mx</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="12u">
<                            
                            <div id="copyright">
								<p> Avenida Instituto Politécnico Nacional No. 2580, Col Barrio la Laguna Ticomán, Gustavo A. Madero, México D.F., C.P. 07340.Tels.: 57296000, ext. 56806</p>
                                &copy; Upiita IPN. México.
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
		
	</body>
</html>