<!DOCTYPE HTML>
<html ng-app="upii">
	<head>
		<title>Línea del tiempo por alumno</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
        <link href="images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">

		<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/skel.min.js"></script>
		<script src="assets/js/skel-viewport.min.js"></script>
		<script src="assets/js/util.js"></script>
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<script src="assets/js/main.js"></script>
		<script src="assets/js/angular.min.js"></script>
		<script src="assets/js/angular-cookies.min.js"></script>
		<script src="assets/js/upiifx.js"></script>
		<script src="assets/js/angular-animate.js"></script>
		<script src="assets/js/ui-bootstrap-tpls-1.1.2.js"></script>
		<script src="assets/js/canvasjs.min.js"></script>
		<script type="text/javascript">
			var $window = $(window),
			   $stickyEl = $('#sticky-div'),
			   elTop = $stickyEl.offset().top;

			$window.scroll(function() {
				$stickyEl.toggleClass('sticky', $window.scrollTop() > elTop);
			});
		</script>
	</head>
	<body>
		<div id="page-wrapper" ng-controller="LINTMPCTRL as ctrl">
			<div id="header-wrapper">
				<div class="container">
					<div class="row">
						<div class="12u">
							<header id="header">
								<div id="logo-array">
									<ul>
										<li><img id="ipnlogo" src="images/ipnwhitelogo.png"/></li>
										<li><h5 style="float:right;margin:35px 10px 0px 0px;font-size:1.1em;text-decoration:underline;color:#FFFFFF">Instituto Politécnico Nacional</h5></li>
										<li><h5 style="float:right;margin:60px -150px 0px 0px;font-size:.8em;text-decoration:underline;color:#FFFFFF">"La técnica al servicio de la patria"</h5></li>
										<li><img id="upiitalogo" src="images/logo.png"/></li>
										<li><img id="seplogo" src="images/seplogo.png"/></li>
									</ul>
								</div>
							</header>
							<header id="header2">
								<nav id="nav">
									<a href="index.html">Inicio</a>
									<a href="alumnos.html">Alumnos</a>
									<a href="estadisticas.html">Estadísticas</a>
									<a href="becas.html">Becas</a>
									<a href="lineatiempo.html" class="current-page-item">Línea del tiempo</a>
								</nav>
							</header>
							<pre style="padding:0px 0px 10px 10px" ng-show="showSessionInfo">Sesión iniciada: ({{sssn.usr}})      <a href="" ng-click="endSession()">~</a></pre>
						</div>
					</div>
				</div>
			</div>
			<div id="main">
				<div class="container">
					<div class="row main-row">
						<div class="4u 12u(mobile)">
							<h2>Alumnos</h2>
							<section>
								<pre>Buscar: </pre><br/>
								<div>
									<a href="" ng-click="o1k();xy2()"><span>Carrera: </span></a><br/>
									<select id="input1" ng-init="selectedCarr" ng-model="selectedCarr" ng-options="a.nom for a in data0.data" ng-disabled="!b1" ng-change="xy2()"/>
									<input type="hidden"/>
									<select id="input2" ng-init="selectedYs" ng-model="selectedYs" ng-options="a.year+' - '+a.sem for a in data2.data" ng-show="b1" ng-change="xy2()"/>
									<input type="hidden"/>
									<div class="wait-div"><img id="wait1" style="width:35px;height:35px;" src="images/loading_spinner.gif"/></div>
								</div>
								<div class="option">
									<input type="hidden"/><br/><br/>
									<a href="" ng-click="o2k()"><span>Alumno: </span></a><br/>
									<input id="input2" type="text" ng-model="q" ng-disabled="!b2" placeholder="(Boleta, nombre o apellidos)" size="30"/>
									<input type="submit" ng-disabled="!b2" ng-click="search(q)" value="OK" />
									<div class="wait-div"><img id="wait1" style="width:35px;height:35px;" src="images/loading_spinner.gif"/></div>
								</div>
								<ul class="small-image-list">
									<li><pre>{{data1.data.length}} Resultados</pre></li>
									<li>
										<table class="small-image-list">
											<tr ng-repeat="s in data1.data">
												<td style="display:inline;text-align:right;"><a href="" ng-click="xy(s)"><h5 class="subh5" style="margin-left:1em">{{'['+s._id+']'}}</h5></a></td><td><h4 class="subh4" style="margin-left:1em">{{'   ' + s.app + ' ' + s.apm + ' ' + s.nom}}</h4></td>
											</tr>
										</table>
									</li>
								</ul>
							</section>


						</div>
                        <div id="sticky-div" class="8u 12u(mobile) important(mobile)"> 
                            <section class="right-content">
                                <h2>Línea del tiempo</h2>
								<strong ng-if="b1">Egresados que estuvieron becados de {{selectedCarr.nom}} semestre {{selectedYs.year+' - '+selectedYs.sem}}</strong>
								<h5>{{a._id}}</h5><h4>{{a.nom + ' ' + a.app + ' ' + a.apm}}</h4>
                                <div id="chartContainer" style="height: 300px; width: 100%;">
                            </section>

						</div>
					</div>
				</div>
			</div>
            <ng-include src="'common_footer.html'"/>
        </div>


	</body>
</html>